body,html {
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  min-width:200px;
  height:40px;
  background-color:rgb(57, 57, 57);
  color:white;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.result {
  font-size: 50px;
  color:brown
}